/* Hero Starts */

.hero {
    padding-top: 140px;
    position: relative;
    overflow-x: hidden;
    padding-bottom: 70px;
}

.hero__title {
    font-size: 32px;
    color: #26BBFB;
    line-height: 1.5;
    margin-top: 32px;
    margin-bottom: 35px;
}

.hero__logo {
    width: 327px;
    max-width: 100%;
    margin-bottom: 32px;
}

.hero__text {
    margin-bottom: 31px;
    color: #26BBFB;
    font-size: 20px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.2px;
}

.hero:after {
    content: '';
    width: 270px;
    height: 270px;
    border-radius: 270px;
    background: #FFC941;
    display: block;
    position: absolute;
    left: -130px;
    top: 90px;
    z-index: -1;
}

.hero:before {
    content: '';
    width: 455px;
    height: 455px;
    border-radius: 455px;
    background: #FE0500;
    display: block;
    position: absolute;
    top: 0;
    right: -50px;
    top: -85px;
    z-index: -1;
}

.hero__media {
    position: relative;
    text-align: center;
    background: transparent;
    z-index: 3;
    padding-left: 100px;
    margin-top: 30px;
}

.hero__media:after {
    content: '';
    width: 339px;
    height: 339px;
    border-radius: 339px;
    background: #334FFB;
    display: block;
    position: absolute;
    bottom: -120px;
    left: 0;
    z-index: -1;
}

.hero__actions .uk-button + .uk-button {
    margin-left: 13px;
}

@media (max-width: 1399.98px) {

}

@media (max-width: 1199.98px) {

}

@media (max-width: 1023.98px) {

}

@media (max-width: 959.98px) {

}

@media (max-width: 767.98px) {

}
@media (max-width: 639.98px) {

}

@media (max-width: 575px) {

}

/* Hero Ends */

/* Dash charts starts */

.dash-charts {
    padding-top: 70px;
    padding-bottom: 60px;
}

.dash-charts__maintitle {
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 0.48px;
    text-align: center;
    margin-bottom: 45px;
}

.dash-charts__item {
    border-radius: 12px;
    background: #FFF;
    /* box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.08); */
    border-radius: 12px;
    border: 1px solid #DBDADE;
}

.dash-charts__container {
    padding: 20px;
    margin: -20px;
}

.dash-charts__upper {
    display: flex;
    align-items: center;
    padding: 15px 15px 15px;
}

.dash-charts__icon {
    width: 42px;
    height: 42px;
    display: flex;
    background: #F5F5F5;
    font-size: 32px;
    text-align: center;
    border-radius: 50%;
    line-height: 1;
    align-items: center;
    justify-content: center;
    flex-grow: unset !important;
    padding: 8px;
}

.dash-charts__title {
    color: #000;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.18px;
    margin-bottom: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dash-charts__text {
    padding-left: 12px;
    width: calc(100% - 50px - 100px);
    padding-right: 12px;
}

.dash-charts__about {
    font-size: 13px;
    color: #B7B7B7;
    font-weight: 400;
    letter-spacing: 0.16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.dash-charts__object {
    max-width: 100px;
    width: 100px;
}

.dash-charts__upper > * {
    flex-grow: 1;
}

.dash-charts__icon > *, .dash-charts__icon > * > * {
    line-height: 1;
    font-size: 32px;
}

.dash-charts__down {
    padding: 15px 15px 15px;
    display: flex;
    justify-content: space-between;
}

.dash-charts__price-text {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.2px;
    line-height: 1;
    margin-bottom: 6px;
}

.dash-charts__price {}

.dash-charts__price-type {
    color: #BCBCBC;
    font-size: 13px;
    text-transform: capitalize;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.13px;
}

.dash-charts__perc-arrow {
    position: relative;
    width: 14px;
    height: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: inherit;
}

.dash-charts__perc-arrow:after {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 10px solid;
    position: absolute;
    content: '';
    color: inherit;
}

.uk-text-danger .dash-charts__perc-arrow:after {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 10px solid;
    border-bottom: 0;
}

.dash-charts__perc-count {
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 8px;
    letter-spacing: 0.16px;
}

.dash-charts__perc {
    text-align: right;
}

.dash-charts__perc-text {
    line-height: 1;
    font-size: 15px;
    letter-spacing: 0.15px;
    text-transform: capitalize;
    color: #BCBCBC;
    font-weight: 400;
}

.dash-charts__grid {
    margin-left: -16px;
}

.dash-charts__grid > * {
    padding-left: 16px;
    width: 300px;
}

marquee.dash-charts__marquee {
    margin: 0 -20px;
}

@media (max-width: 1399.98px) {

}

@media (max-width: 1199.98px) {
    .dash-charts__maintitle {
        font-size: 30px;
    }
}

@media (max-width: 1023.98px) {

}

@media (max-width: 959.98px) {

}

@media (max-width: 767.98px) {

}
@media (max-width: 639.98px) {

}

@media (max-width: 575px) {
    .dash-charts__maintitle {
        font-size: 26px;
    }
}
/* Dash charts Ends */

/* sell-buy Zigzag starts */
.sell-buy__bgblocks {
    background: url("../../images/shapes/boxes-shapes-bg.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;
    width: 840px;
    max-width: 100%;
    margin-left: -45px;
    align-items: flex-start;
    padding: 30px 65px 30px 40px;
}

.sell-buy__bgblocks > * {
    padding-left: 45px;
}

.sell-buy__bgblocks > *:nth-child(even) {
    margin-top: 45px;
}

.sell-buy__bgblocks > *:nth-child(2) {
    margin-top: 100px;
}

.sell-buy__bgblocks > *:nth-child(3) {
    margin-top: -45px;
}

.sell-buy {
    padding-top: 70px;
    padding-bottom: 70px;
    position: relative;
    overflow-x: hidden;
}

.sell-buy__item {
    border-radius: 18px;
    background: #FFF;
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.06);
    padding: 25px;
    min-height: 305px;
}

.sell-buy__icon {
    display: flex;
    width: 66px;
    height: 66px;
    font-size: 38px;
    line-height: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 13px;
    background: #BAE6FF;
    margin-bottom: 20px;
}

.sell-buy__icon--search {
    color: #0070AF;
    background: #BAE6FF;
}

.sell-buy__icon--cart {
    background: #A4E3AA;
    color: #00880E;
}

.sell-buy__icon--monitor {
    color: #C37600;
    background: #FFD493;
}

.sell-buy__icon--feedback {
    color: #6741FF;
    background: #D2C7FF;
}

.sell-buy__item-name {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.22px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.sell-buy__item-details {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    color: #26BBFB;
}

.sell-buy__title {
    font-size: 30px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
    margin-bottom: 20px;
}

.sell-buy__title-2 {
    font-size: 26px;
    color: #334FFB;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.32px;
    margin-bottom: 30px;
}

.sell-buy__desc {
    color: #26BBFB;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.2px;
    line-height: 1.8;
}

.sell-buy__text {
    color: #000;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.2px;
    margin-bottom: 30px;
}

.sell-buy__content {
    padding-left: 30px;
}

.sell-buy:nth-child(odd):after {
    content: '';
    width: 270px;
    height: 270px;
    display: block;
    border-radius: 270px;
    background: #FF8200;
    position: absolute;
    bottom: 0;
    right: -135px;z-index: -1;
}

.sell-buy:nth-child(even) .sell-buy__grid {
    flex-direction: row-reverse;
}

.sell-buy:nth-child(even) .sell-buy__bgblocks {
    margin-left: auto;
    margin-right: 0;
    background-image: url("../../images/shapes/boxes-shapes-bg-inverted.svg");
    background-position: top left;
    padding: 30px 40px 30px 65px;
}

.sell-buy:nth-child(even) .sell-buy__content {
    padding-left: 0;
    padding-right: 30px;
}

.sell-buy:nth-child(even) {
    padding-bottom: 170px;
}

.sell-buy:nth-child(even):after {
    content: '';
    width: 313px;
    height: 313px;
    display: block;
    border-radius: 313px;
    background: #334FFB;
    position: absolute;
    bottom: 0;
    left: -135px;
    z-index: -1;
}

.sell-buy:nth-child(even) .sell-buy__bgblocks > *:first-child {
    margin-top: 100px;
}

.sell-buy:nth-child(even) .sell-buy__bgblocks > *:nth-child(even) {
    margin-top: -45px;
}

.sell-buy:nth-child(even) .sell-buy__bgblocks > *:nth-child(2) {
    margin-top: 0;
}

.sell-buy:nth-child(even) .sell-buy__bgblocks > *:nth-child(3) {
    margin-top: 45px;
}

@media (min-width: 1640px) {
    .sell-buy__container {
        max-width: 1600px;
    }
    .sell-buy__title-2 {
        font-size: 32px;
    }
}
@media (max-width: 1399.98px) {

}

@media (max-width: 1199.98px) {

}

@media (max-width: 1023.98px) {

}

@media (max-width: 959.98px) {

}

@media (max-width: 767.98px) {

}
@media (max-width: 639.98px) {

}

@media (max-width: 575px) {

}
/* sell-buy Zigzag Ends */

/* Community Starts */

.community {
    padding-bottom: 120px;
}

.community__title {
    font-size: 30px;
    letter-spacing: 4.2px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.community__desc {
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.44px;
    line-height: 1.5;
    color: #26BBFB;
}

@media (max-width: 1399.98px) {

}

@media (max-width: 1199.98px) {

}

@media (max-width: 1023.98px) {

}

@media (max-width: 959.98px) {

}

@media (max-width: 767.98px) {

}
@media (max-width: 639.98px) {

}

@media (max-width: 575px) {

}
/* Community Ends */

/* Partners Starts */

.partners {
    position: relative;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 220px;
    overflow-x: hidden;
}

.partners:after {
    content: '';
    width: 526px;
    height: 526px;
    border-radius: 526px;
    background: #FE0500;
    left: -191px;
    position: absolute;
    top: 0;
    display: block;
    z-index: -1;
}

.partners:before {
    content: '';
    position: absolute;
    display: block;
    z-index: -1;
    width: 487px;
    height: 487px;
    border-radius: 487px;
    background: #FFC941;
    right: -156px;
    bottom: 0;
}

.partners__title {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 4.2px;
    margin: 0 auto 40px;
}

.partners__text {
    font-size: 32px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: 0.32px;
    max-width: 810px;
    margin: 0 auto 70px;
}

.partners__text-highlight {
    color: #26BBFB;
}

.partners__item {
    border-radius: 18px;
    border: 0.5px solid #334FFB;
    background: #FFF;
    width: 201px;
    height: 141px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px;
}

.partners__grid {
    margin-left: -30px;
}

.partners__grid > * {
    padding-left: 30px;
}

.partners__grid > .uk-grid-margin {
    margin-top: 30px;
}

@media (max-width: 1399.98px) {

}

@media (max-width: 1199.98px) {

}

@media (max-width: 1023.98px) {

}

@media (max-width: 959.98px) {

}

@media (max-width: 767.98px) {

}
@media (max-width: 639.98px) {

}

@media (max-width: 575px) {

}
/* Partners Ends */

/* Platform Starts */

.platform__title {
    font-size: 30px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.platform__item {
    margin-top: 20px;
}

.platform__sectitle {
    font-size: 28px;
    letter-spacing: 0.56px;
    text-transform: capitalize;
    margin-bottom: 5px;
    color: #334FFB;
}

.platform__desc {
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.36px;
    font-size: 18px;
    color: #26BBFB;
}

.platform__grid {
    margin-left: -70px;
}

.platform__grid > * {
    padding-left: 70px;
}

.platform {
    position: relative;
    padding-bottom: 30px;
}

.platform__action {
    margin-top: 40px;
}

@media (max-width: 1399.98px) {

}

@media (max-width: 1199.98px) {

}

@media (max-width: 1023.98px) {

}

@media (max-width: 959.98px) {

}

@media (max-width: 767.98px) {

}
@media (max-width: 639.98px) {

}

@media (max-width: 575px) {

}
/* Platform Ends */

/* Reviews Starts */
.reviews {
    position: relative;
    padding-top: 270px;
    overflow-x: hidden;
    padding-bottom: 135px;
}

.reviews:after {
    content: '';
    position: absolute;
    display: block;
    top: 42px;
    width: 267px;
    height: 267px;
    border-radius: 267px;
    background: #FFC941;
    right: -133.5px;
    z-index: -2;
}

.reviews:before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    width: 211px;
    height: 211px;
    background: #334FFB;
    border-radius: 211px;
    right: 42px;
    z-index: -1;
}

.reviews__container:after {
    content: '';
    position: absolute;
    display: block;
    width: 313px;
    height: 313px;
    border-radius: 313px;
    background: #FE0500;
    left: -174px;
    z-index: -1;
    bottom: 270px;
}

.reviews__container {
    text-align: center;
}

.reviews__title {
    color: #26BBFB;
    font-size: 40px;
    letter-spacing: 4.8px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}

.reviews__about {
    font-size: 28px;
    text-align: center;
    max-width: 675px;
    font-weight: 500;
    letter-spacing: 0.28px;
    margin: 0 auto 60px !important;
}

.reviews__about-highlight {
    color: #334FFB;
}

.reviews__item {
    border-radius: 18px;
    background: #DFF5FF;
    padding: 40px 30px;
}

.reviews__rating {
    color: #FFB800;
    font-size: 25px;
    margin-bottom: 25px;
}

.reviews__text {
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.48px;
    font-size: 16px;
    margin-bottom: 30px;
}

.reviews__grid {
    margin-left: -45px;
}

.reviews__grid > * {
    padding-left: 45px;
    width: 30%;
}

.reviews__author {
    display: flex;
    align-items: center;
}

.reviews__author-img {
    width: 64.48px;
    height: 64.48px;
    border-radius: 50%;
    overflow: hidden;
}

.reviews__author-data {
    padding-left: 15px;
}

.reviews__author-name {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.2px;
    margin-bottom: 0;
}

.reviews__author-dest {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.16px;
    text-transform: uppercase;
    color: #A8A8A8;
}

.reviews__footer {
    text-align: center;
    margin: 100px auto  0;
}

.reviews__dotnav {
    align-items: center;
}

.reviews__dotnav > * {
    flex-grow: 1;
    padding: 0;
}

.reviews__dotnav > * > * {
    width: 100%;
    height: 1px;
    border-radius: 0;
    background: #B0B0B0;
    border-color: #B0B0B0;
    border: 0;
}

.reviews__dotnav > .uk-active > * {
    height: 4px;
    background: #26BBFB !important;
    border-color: #26BBFB !important;
}
@media (max-width: 1399.98px) {

}

@media (max-width: 1199.98px) {

}

@media (max-width: 1023.98px) {

}

@media (max-width: 959.98px) {

}

@media (max-width: 767.98px) {

}
@media (max-width: 639.98px) {

}

@media (max-width: 575px) {

}

/* Reviews Ends */

/* Help Starts */

.help__title {
    letter-spacing: 4.2px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.help {
    background: url("../../images/shapes/footer-contact.svg");
    background-position: center bottom;
    padding: 80px 0 0;
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
}

.help__media {
    width: 676px;
    height: 676px;
    max-width: 100%;
    text-align: center;
    border-radius: 676px;
    background: #334FFB;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: -100px !important;
    color: #fff;
}

.help__desc {
    font-size: 32px;
    font-weight: 500;
    line-height: 46px;
    letter-spacing: 0.32px;
}

.help__desc p:not(:last-child) {
    margin: 0 0 40px 0;
}

.help__icon {
    font-size: 75px;
    color: #fff;
    margin-bottom: 30px;
}

.help__call > a {
    font-size: 37px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.37px;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
}

.help__call {
    margin-bottom: 25px;
}

.help__action {
    padding: 5px 42px;
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(165, 163, 174, 0.30);
    color: #334FFB;
    font-weight: 500;
    letter-spacing: 0.43px;
}

@media (max-width: 1399.98px) {

}

@media (max-width: 1199.98px) {

}

@media (max-width: 1023.98px) {

}

@media (max-width: 959.98px) {

}

@media (max-width: 767.98px) {

}
@media (max-width: 639.98px) {

}

@media (max-width: 575px) {

}
/* Help Ends */

/* Landing Page Hero Starts */

.landing-hero {
    padding: 100px 40px 60px;
    text-align: center;
}

.landing-hero__maintitle {
    font-size: 62px;
    font-weight: 900;
    letter-spacing: 0.62px;
    margin-bottom: 50px;
}

.landing-hero__desc {
    font-size: 20px;
    letter-spacing: 0.2px;
    color: #686868;
    margin-bottom: 30px;
}

.landing-hero__bolddesc {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.2px;
    max-width: 736px;
    margin: auto;
}
@media (max-width: 1399.98px) {

}

@media (max-width: 1199.98px) {
    .landing-hero__maintitle {
        font-size: 38px;
    }

    .landing-hero__desc, .landing-hero__bolddesc {
        font-size: 16px;
    }
}

@media (max-width: 1023.98px) {

}

@media (max-width: 959.98px) {
    .landing-hero {
        padding: 50px 10px 30px;
    }

    .landing-hero__maintitle {
        margin-bottom: 20px;
        font-size: 32px;
    }

    .landing-hero__desc {
        margin-bottom: 20px;
    }

    .landing-hero__container {
    }
}

@media (max-width: 767.98px) {

}
@media (max-width: 639.98px) {

}

@media (max-width: 575px) {
    .landing-hero {
        text-align: left;
        padding: 20px 10px;
    }

    .landing-hero__desc, .landing-hero__bolddesc {
        font-size: 14px;
    }
}
/* Landing Page Hero Starts */

/* Landing Video Starts */

.landing-video {
    padding: 60px 30px 100px;
}

.landing-video__wrapper {
/*    width: 1340px;*/
    max-width: 100%;
    height: 0;
    position: relative;
    overflow: hidden;
    padding-bottom: 35%;
    border-radius: 38px;
    border: 7px solid #000;
    margin: auto;
}

.landing-video__action {
    padding: 0;
    width: 82px;
    height: 82px;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 1399.98px) {

}

@media (max-width: 1199.98px) {

}

@media (max-width: 1023.98px) {

}

@media (max-width: 959.98px) {
    .landing-video {
        padding: 30px 10px;
    }
    .landing-video__wrapper {
        padding-bottom: 75%;
    }
}

@media (max-width: 767.98px) {

}
@media (max-width: 639.98px) {

}

@media (max-width: 575px) {
    .landing-video__action {
        width: 60px;
        height: 60px;
    }
}
/* Landing Video Starts */

/* Landing Colored Blocks Starts */

@media (min-width: 1480px) {
    .landing-clrblock__container {
        max-width: 1400px;
    }
}

.landing-clrblock__container {
    padding: 60px;
    border-radius: 38px;
    background: #FFE000;
}

.landing-clrblock__title {
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 0.48px;
    margin-bottom: 30px;
    line-height: 1.1;
}

.landing-clrblock__text {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.2px;
    max-width: 520px;
    margin-bottom: 35px;
}

.landing-clrblock__action {
    color: #000;
    border-color: #000;
}

.landing-clrblock__action:hover, .landing-clrblock__action:focus, .landing-clrblock__action:focus-visible {
    color: #fff;
    border-color: #000;
    background: #000;
}

.landing-clrblock {
    padding: 25px 30px;
}

.landing-clrblock__container--buy {
    background: #FF9300;
}

.landing-clrblock__container--safe {
    background: #941100;
    color: #fff;
}

.landing-clrblock__container--safe * {
    color: #fff;
}

.landing-clrblock__container--community {
    background: #0433FF;
    color: #fff;
}

.landing-clrblock__container--community * {
    color: #fff;
}

.landing-clrblock.is-active {}

.landing-clrblock.is-active .landing-clrblock__action {
    display: none;
}

.landing-clrblock.is-active .landing-clrblock__grid {
    display: flex !important;
}

.landing-clrblock__icon {
    font-size: 50px;
}

.landing-clrblock__grid {
    text-align: center;
    margin-top: 80px !important;
}

.landing-clrblock__name {
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 0.3px;
    margin-top: 20px;
}

.landing-clrblock__desc {
    max-width: 320px;
    margin: auto;
}

.landing-clrblock__media {
    border-radius: 38px;
    overflow: hidden;
}

.landing-clrblock__media > img {
    max-height: 400px;
    object-fit: contain;
}

@media (max-width: 1399.98px) {

}

@media (max-width: 1199.98px) {
    .landing-clrblock__title {
        font-size: 30px;
    }
    .landing-clrblock__text {
        font-size: 16px;
    }
}

@media (max-width: 1023.98px) {

}

@media (max-width: 959.98px) {
    .landing-clrblock {
        padding: 12px 25px;
    }
    .landing-clrblock__container {
        padding: 25px;
        border-radius: 20px;
    }
    .landing-clrblock__media {
        border-radius: 20px;
    }
    .landing-clrblock__title {
        margin-bottom: 15px;
    }
    .landing-clrblock__text {
        margin-bottom: 20px;
    }
    .landing-clrblock__icon {
        font-size: 30px;
    }
    .landing-clrblock__name {
        font-size: 22px;
        margin-top: 15px;
        margin-bottom: 5px;
    }
    .landing-clrblock__grid {
        margin-top: 50px !important;
    }
}

@media (max-width: 767.98px) {
    .landing-clrblock__title {
        font-size: 26px;
    }
}
@media (max-width: 639.98px) {
    .landing-clrblock__maingrid {
        flex-direction: column-reverse;
    }
}

@media (max-width: 575px) {

}
/* Landing Colored Blocks Ends */

/* Landing Reviews Starts */

.landing-reviews {
    background: #000;
    padding-top: 80px;
    padding-bottom: 50px;
}

.landing-reviews {}

.landing-reviews__title {
    color: #FFF;
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 0.48px;
}

.landing-reviews__about {
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.2px;
    max-width: 512px;
    margin: auto;
}

.landing-reviews__slider {
    margin-top: 50px;
}

.landing-reviews__grid {
    margin-left: -30px;
}

.landing-reviews__grid > * {
    padding-left: 30px;
    width: 358px;
}

.landing-reviews__item {
    background: #fff;
    border-radius: 18px;
    border: 1px solid #DBDADE;
    padding: 30px 20px 25px;
}

.landing-reviews__rating {
    color: #FFB800;
    font-size: 30px;
    margin-bottom: 20px;
}

.landing-reviews__text {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
}

.landing-reviews__author {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.landing-reviews__author-img {
    width: 64.48px;
    height: 64.48px;
    border-radius: 50%;
    overflow: hidden;
}

.landing-reviews__author-data {
    padding-left: 15px;
}

.landing-reviews__author-name {
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.2px;
    margin-bottom: 0;
}

.landing-reviews__author-dest {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.16px;
    text-transform: uppercase;
    color: #A8A8A8;
}

.landing-reviews__dotnav > * > * {
    width: 32px;
    height: 3px;
    border-radius: 0;
    border-color: #fff;
    background: #fff;
}

.landing-reviews__dotnav > .uk-active > * {
    background: #ffe000 !important;
    opacity: 1;
    border-color: #ffe000 !important;
}

.landing-reviews__dotnav > * > *:hover {
    background-color: var(--primary-color);
}

.landing-reviews__dotnav {
    justify-content: center;
    margin-top: 80px;
}

@media (max-width: 1399.98px) {

}

@media (max-width: 1199.98px) {
    .landing-reviews__title {
        font-size: 30px;
    }
    .landing-reviews__about {
        font-size: 16px;
        max-width: 600px;
    }
}

@media (max-width: 1023.98px) {

}

@media (max-width: 959.98px) {
    .landing-reviews {
        padding-top: 50px;
        padding-bottom: 30px;
        margin-top: 25px;
    }
    .landing-reviews__title {
        margin-bottom: 15px;
    }
    .landing-reviews__dotnav {
        margin-top: 45px;
    }
    .landing-reviews__rating {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .landing-reviews__grid > * {
        padding-left: 20px;
        width: 45%;
    }

    .landing-reviews__grid {
        margin-left: -20px
    }
}

@media (max-width: 767.98px) {
    .landing-reviews__grid > * {
        width: 80%;
    }
    .landing-reviews__footer {
        display: none;
    }
}
@media (max-width: 639.98px) {

}

@media (max-width: 575px) {

}
/* Landing Reviews Ends */

/* Blog Starts */

.blog {
    background: #000;
    padding: 50px 40px 50px;
}

.blog__maintitle {
    text-align: center;
    color: #fff;
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 0.48px;
    margin-bottom: 15px;
}

.blog__maintext {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.2px;
    margin-bottom: 45px;
    color: #fff;
    text-align: center;
}

.blog__item {
    border-radius: 18px;
    background: #FFF;
    padding: 15px;
}

.blog__container {
    max-width: 1190px;
}

.blog__title {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.32px;
    margin: 0 0 12px;
}

.blog__media {
    border-radius: 18px;
    overflow: hidden;
    height: 0;
    padding-bottom: 75%;
    position: relative;
}

.blog__media > * {
    width: 100%;
    border-radius: 18px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
}
@media (max-width: 1399.98px) {

}

@media (max-width: 1199.98px) {
    .blog__maintitle {
        font-size: 30px;
    }
    .blog__maintext {
        font-size: 16px;
    }
    .blog__title {
        font-size: 26px;
    }
}

@media (max-width: 1023.98px) {

}

@media (max-width: 959.98px) {
    .blog {
        padding: 50px 10px 50px;
    }
    .blog__item {
        border-radius: 10px;
        padding: 15px 10px 10px;
    }
    .blog__media, .blog__media > * {
        border-radius: 10px;
    }
    .blog__title {
        font-size: 16px;
        font-weight: 700;
    }
    .blog__grid {
        margin-left: -10px;
    }
    .blog__grid > * {
        padding-left: 10px;
    }
}

@media (max-width: 767.98px) {

}
@media (max-width: 639.98px) {

}

@media (max-width: 575px) {

}

/* Blog Ends */

/* Buyer Search Starts */

.dash-search {
    padding-bottom: 60px;
}

.dash-search__title {
    max-width: 730px;
    margin: auto;
    text-align: center;
    letter-spacing: 0.3px;
    margin-bottom: 60px;
}

.dash-search__box {
    max-width: 625px;
    position: relative;
    margin: auto;
    margin-bottom: 60px;
}

.dash-search__input {
    height: 62px;
    border-radius: 6px;
    border: 1px solid #DBDADE;
    font-size: 14px;
    font-weight: 400;
    padding-left: 24px;
}

.dash-search__button {
    position: absolute;
    font-size: 26px;
    background: transparent;
    height: 100%;
    top: 0;
    right: 0;
    color: #4B465C;
}

.dash-search__text {
    text-align: center;
    color: #686868;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
    letter-spacing: 0.2px;
}

@media (max-width: 1399.98px) {

}

@media (max-width: 1199.98px) {

}

@media (max-width: 1023.98px) {

}

@media (max-width: 959.98px) {

}

@media (max-width: 767.98px) {
    .dash-search {
        padding-bottom: 25px;
    }
}
@media (max-width: 639.98px) {

}

@media (max-width: 575px) {
    .dash-search__button {
        font-size: 18px;
    }
}
/* Buyer Search Ends */

/* Filter Starts */

.filter {
    border: 1px solid #DBDADE;
    border-radius: 6px;
    width: 260px;
    max-width: 100%;
}

.filter-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    border-bottom: 1px solid #DBDADE;
}

.filter-heading__title {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    margin: 0;
}

.filter-heading__clear {
    background: transparent;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 0;
    height: auto;
    min-height: unset;
}

.filter__item {
    padding: 25px 15px 25px 25px;
    border-bottom: 1px solid #DBDADE;
}

.filter__name {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 25px;
}

.filter-checkbox__label {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 400;
}

.filter-checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.filter-checkbox:last-child {
    margin-bottom: 0;
}

.filter-checkbox__input {
    border-radius: 4px;
    margin-top: 0;
    margin-right: 6px;
}

@media (max-width: 1399.98px) {

}

@media (max-width: 1199.98px) {

}

@media (max-width: 1023.98px) {

}

@media (max-width: 959.98px) {

}

@media (max-width: 767.98px) {

}
@media (max-width: 639.98px) {

}

@media (max-width: 575px) {

}
/* Filter Ends */

/* Product List + Filter Starts */

.product-filter {
    padding-top: 60px;
    padding-bottom: 60px;
}

.product__item {
    border-radius: 6px;
    border: 1px solid #DBDADE;
    margin-bottom: 20px;
}

.product__header {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    align-items: center;
    border-bottom: 1px solid #DBDADE;
}

.product-seller {
    display: flex;
    align-items: center;
}

.product-seller__media {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.product-seller__name {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
}

.product-seller__type {
    color: #4B465C;
    font-size: 15px;
    font-weight: 500;
}

.product__name {
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 20px;
}

.product__fullprice,
.product__priceinfo {
    color: #686868;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px;
}

.product__price {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.product__price-big {
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
}

.product__price-badge {
    border-radius: 4px;
    background: rgba(40, 199, 111, 0.16);
    padding: 5px 10px;
    display: inline-flex;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    color: #28C76F;
    margin-left: 8px;
}

.product__priceinfo {}

.product__avail {
    margin-top: 25px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    color: #686868;
}

.product-actions {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: stretch;
    column-gap: 25px;
}

.product-actions > * {
    flex-grow: 1;
}

.product-actions__view {
    color: #000 !important;
    border-color: #000 !important;
}

.product-actions__buy {
    background: #000 !important;
    border-color: #000 !important;
}

.product__body {
    padding: 20px;
    margin-left: -40px;
}

.product__body > * {
    padding-left: 40px;
}

.product__desc {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: #414141;
    line-height: 23px;
}

.product-chart {
    width: 331px;
    max-width: 100%;
}

.product__item-col--names {
    width: 60%;
}

.product__item-col--desc {
    width: 40%;
}

.product__avail-type {
    padding: 5px 10px;
    border-radius: 4px;
    background: rgba(40, 199, 111, 0.16);
    color: #28C76F;
    font-size: 16px;
    font-weight: 600;
    line-height: 14px;
    margin-left: 10px;
}

.product__avail-type--negative,
.product__price-badge--negative {
    color: #EA5455;
    background: #FBE3E4;
}

.product-data-chart > * {
    flex-grow: 1;
}

.product-filter__counter {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    color: #4B465C;
}

.product-filter__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}
.noUi-primary .noUi-connect {
    background: #000!important
}
/* .noUi-primary .noUi-handle {
    background: #000!important
} */
html:not([dir=rtl]) .noUi-horizontal .noUi-handle {
    right: -0.1375rem;
}

@media (min-width: 768px) {
    .filter__toggler,
    .filter__close {
        display: none;
    }
}

@media (max-width: 1399.98px) {
    .product__item-col {
        width: 100%;
    }
    html:not([dir=rtl]) .noUi-horizontal .noUi-handle {
        right: 0;
    }
}

@media (max-width: 1199.98px) {

}

@media (max-width: 1023.98px) {

}

@media (max-width: 959.98px) {

}

@media (max-width: 767.98px) {
    .product-filter {
        padding-top: 25px;
    }
    .product-filter__col {
        width: 100%;
    }
    .filter {
        background: #fff;
        overflow: auto;
        width: 320px;
        max-width: 100%;
        border-radius: 0;
        position: relative;
        border: 0;
        margin-right: 0;
        margin-left: auto;
    }

    .product-filter__col--sidebar {
        position: fixed;
        right: 0;
        top: 0;
        height: 100%;
        overflow: hidden;
        z-index: 51;
        background: #000000bf;
        display: flex;
        justify-content: flex-end;
        display: none;
    }

    .filter__close {
        font-size: 15px;
        width: 30px;
        padding: 7px;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 20px;
        top: 13px;
    }

    .filter__item {
        padding: 25px 25px 25px 30px;
    }

    .filter__toggler {
        background: #000;
        width: 180px;
        max-width: 100%;
        margin-right: 0;
        margin-left: auto;
        display: flex;
        margin-bottom: 30px;
    }

    .filter__toggler > svg {
        width: 20px;
        min-width: 20px;
        margin-right: 15px;
    }

}
@media (max-width: 639.98px) {

}

@media (max-width: 575px) {
    .product-actions {
        flex-direction: column;
        align-items: stretch;
        row-gap: 15px;
    }
}
/* Product List + Filter Ends */

/* Pagination Starts */

.pagination {
    --bs-pagination-padding-x: 0.35rem;
    --bs-pagination-padding-y: 0.745rem;
    --bs-pagination-font-size: 0.9375rem;
    --bs-pagination-color: #5d596c;
    --bs-pagination-bg: rgba(75, 70, 92, 0.08);
    --bs-pagination-border-width: 0px;
    --bs-pagination-border-color: rgba(75, 70, 92, 0.08);
    --bs-pagination-border-radius: 6px;
    --bs-pagination-hover-color: #5d596c;
    --bs-pagination-hover-bg: rgba(75, 70, 92, 0.16);
    --bs-pagination-hover-border-color: rgba(75, 70, 92, 0.16);
    --bs-pagination-focus-color: #5d596c;
    --bs-pagination-focus-bg: rgba(75, 70, 92, 0.16);
    --bs-pagination-focus-box-shadow: none;
    --bs-pagination-active-color: #fff;
    --bs-pagination-active-bg: #7367f0;
    --bs-pagination-active-border-color: #7367f0;
    --bs-pagination-disabled-color: #a5a3ae;
    --bs-pagination-disabled-bg: rgba(75, 70, 92, 0.08);
    --bs-pagination-disabled-border-color: rgba(75, 70, 92, 0.08);
    display: flex;
    padding-left: 0;
    list-style: none
}

.page-link {
    position: relative;
    display: block;
    padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
    font-size: var(--bs-pagination-font-size);
    color: var(--bs-pagination-color);
    background-color: var(--bs-pagination-bg);
    border: var(--bs-pagination-border-width) solid var(--bs-pagination-border-color);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    padding: 0.745rem;
    min-width: calc( 2.38155rem + 0px );
    line-height: 1;
    text-align: center;
}

@media(prefers-reduced-motion: reduce) {
    .page-link {
        transition: none
    }
}

.page-link:hover {
    z-index: 2;
    color: var(--bs-pagination-hover-color);
    background-color: var(--bs-pagination-hover-bg);
    border-color: var(--bs-pagination-hover-border-color)
}

.page-link:focus {
    z-index: 3;
    color: var(--bs-pagination-focus-color);
    background-color: var(--bs-pagination-focus-bg);
    outline: 0;
    box-shadow: var(--bs-pagination-focus-box-shadow)
}

.page-link.active,.active>.page-link {
    z-index: 3;
    color: #fff;
    background-color: #000;
    border-color: #000;
}

.page-link.disabled,.disabled>.page-link {
    color: var(--bs-pagination-disabled-color);
    pointer-events: none;
    background-color: var(--bs-pagination-disabled-bg);
    border-color: var(--bs-pagination-disabled-border-color)
}

.page-item:not(:first-child) .page-link {
    margin-left: .25rem
}

.page-item .page-link {
    border-radius: 6px;
}

@media (max-width: 1399.98px) {

}

@media (max-width: 1199.98px) {

}

@media (max-width: 1023.98px) {

}

@media (max-width: 959.98px) {

}

@media (max-width: 767.98px) {

}
@media (max-width: 639.98px) {

}

@media (max-width: 575px) {

}
/* Pagination Ends */

/* Checkout Starts */

.checkout__container {
    max-width: 880px;
}

.checkout {
    padding: 120px 0;
}

.checkout-box {
    border-radius: 6px;
    border: 1px solid #DBDADE;
    margin-bottom: 25px;
}

.checkout-box__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    border-bottom: 1px solid #DBDADE;
}

.checkout-box__headtitle {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    margin: 0;
}

.checkout-box__headtitle-light {
    font-weight: 300;
}

.checkout-box__body {
    padding: 25px;
}

.checkout-box__prlabel {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    color: #4B465C;
    margin-bottom: 25px;
}

.checkout-box__itemname {
    font-size: 15px;
    font-weight: 400;
    line-height: 21px; /* 140% */
}

.checkout-box__itemcost {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
}

.checkout-box__itemcost-price {
    font-weight: 600;
}

.checkout-box__qty {
    position: relative;
    width: 144px;
    height: 38px;
    margin-top: -10px;
}

.checkout-box__qty-label {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.checkout-box__qty-input {
    height: 38px;
    border-radius: 6px;
    font-weight: 600;
    padding-right: 70px;
}

.checkout-box__prgrid {}

.checkout-box__price {
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
}

.uk-grid.checkout-box__ntgrid {
    justify-content: space-between;
}

.checkout-box__total {
    text-align: right;
}

.checkout-box__prcol--price {
    text-align: right;
    width: 100px;
}

.checkout-box__total-label {
    font-style: normal;
    font-weight: 400;
    color: #4B465C;
    margin-right: 25px;
}

.checkout-box__total-val {
    color: #000;
    text-align: right;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    min-width: 80px;
}

.checkout-box__total-item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.checkout-box__textarea {
    border-radius: 6px;
    border: 1px solid #DBDADE;
}

.checkout-box__label {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 5px;
    display: inline-flex;
}

.checkout-box__input {
    border-radius: 6px;
}

.checkout-box__frgrid > .uk-grid-margin {
    margin-top: 20px;
}

.checkout__action {
    text-align: center;
    margin-top: 50px;
}

.checkout__submit {
    border-radius: 6px;
    background: #000 !important;
    border-color: #000 !important;
    width: 272px;
    height: 38px;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.43px;
}

@media (max-width: 1399.98px) {

}

@media (max-width: 1199.98px) {

}

@media (max-width: 1023.98px) {

}

@media (max-width: 959.98px) {

}

@media (max-width: 767.98px) {

}
@media (max-width: 639.98px) {

}

@media (max-width: 575px) {

}
/* Checkout Ends */

/* Thanks Starts */

.thanks__container {
    border-radius: 6px;
    border: 1px solid #DBDADE;
    padding: 75px 50px;
    max-width: 840px;
}

.thanks {
    padding: 130px 40px;
    text-align: center;
}

.thanks__icon {
    max-width: 340px;
    margin: auto auto 40px;
}

.thanks__text {
    font-size: 30px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.3px;
    margin-bottom: 10px;
}

.thanks__title {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.26px;
    margin-bottom: 22px;
}

.thanks__data {
    border-radius: 6px;
    border: 1px solid #DBDADE;
    max-width: 475px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;
    column-gap: 20px;
    row-gap: 5px;
    padding: 25px;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    color: #4B465C;
}

.thanks__data > * {
}

.thanks__item-bold {
    font-weight: 600;
}

.thanks__action {
    text-align: center;
    margin-top: 25px;
}

.thanks__action-btn {
    background-color: #000 !important;
    border-color: #000 !important;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.43px;
    padding: 10px 20px;
}

.thanks__container--signup {
    padding: 80px 60px;
}

.thanks__title--signup {
    max-width: 550px;
    margin: auto;
}

.thanks__action--signup {
    margin-top: 80px;
}

@media (max-width: 1399.98px) {

}

@media (max-width: 1199.98px) {

}

@media (max-width: 1023.98px) {

}

@media (max-width: 959.98px) {
    .thanks {
        padding: 50px 30px;
    }
    .thanks__container {
        padding: 50px 30px
    }
    .thanks__container--signup {
        max-width: 480px;
    }
    .thanks__icon {
        max-width: 100px;
    }
    .thanks__text {
        font-size: 20px;
    }
    .thanks__title {
        font-size: 20px;
    }
    .thanks__action--signup {
        margin-top: 40px;
    }
}

@media (max-width: 767.98px) {

}
@media (max-width: 639.98px) {

}

@media (max-width: 575px) {

}
/* Thanks Ends */

.mb-5 {
    margin-bottom: 1.5rem!important;
}
.mt-4 {
    margin-top: 3rem!important;
}