.footer {
    background: #000;
    color: #fff;
    padding-top: 50px;
}

.footer .uk-container {
    box-sizing: border-box;
}

.footer-info__title {
    color: #fff;
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 0.48px;
    line-height: 1.15;
}

.footer-info__text {
    text-align: center;
    max-width: 700px;
    margin: auto auto 40px;
}

.footer-info__call {
    max-width: 238px;
    color: #fff;
    display: flex;
    align-items: center;
    margin: auto;
}

.footer-info__name {
    color: #fff;
    font-size: 24px;
    margin: 0;
    font-weight: 700;
    margin-bottom: 5px;
}

.footer-info__data {
    text-align: center;
}

.footer-info__icon {
    font-size: 50px;
    line-height: 1;
    margin-right: 15px;
}

.footer-info__href {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.22px;
    text-transform: uppercase;
}

.foolter-upper {
}

.foolter-upper__hr {
    /* 1 */
    overflow: visible;
    /* 2 */
    text-align: inherit;
    /* 3 */
    margin: 0 0 20px 0;
    border: 0;
    border-top: 1px solid #e5e5e5;
    opacity: .4;
    margin-top: 50px;
}

.footer-contact {
    justify-content: flex-end;
}

.footer-contact__item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer-contact__icon {
    color: #fff;
    font-size: 48px;
}

.footer-contact__name {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.18px;
    margin: 0;
}

.footer-contact__data {
    padding-left: 15px;
}

.footer-contact__href {
    color: #fff;
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.14px;
}

.footer-main {
    padding-top: 70px;
    padding-bottom: 70px;
}

.footer-main__title {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.22px;
    margin-bottom: 20px;
}

.footer-main__text {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.24px;
    margin-bottom: 25px;
}

.footer-social {
    display: flex;
    align-items: center;
}

.footer-social__link {
    display: flex;
    font-size: 30px;
    align-items: center;
    color: #fff;
}

.footer-social__link + .footer-social__link {
    margin-left: 40px;
}

.footer-main__grid {
    margin-left: -120px;
}

.footer-main__grid > * {
    padding-left: 120px;
}

.footer-main__col--about {
    width: 28%;
}

.footer-main__col--links {
    width: 18%;
}

.footer-main__col--support {
    width: 22%;
}

.footer-main__col--products {
    width: 32%;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links__action {
    display: inline-flex;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.36px;
    text-decoration-line: underline;
    text-transform: uppercase;
}

.footer-links__item + .footer-links__item {
    margin-top: 10px;
}

.footer-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-menu__link {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.28px;
}

.footer-menu__link:hover,
.footer-links__action:hover,
.footer-social__link:hover,
.footer-info__href:hover,
.footer-contact__href:hover {
    color: #FF8200;
}

.footer-menu__item + .footer-menu__item {
}

.footer-menu {
    display: grid;
    grid-template-columns: auto;
    align-items: flex-start;
    column-gap: 20px;
    row-gap: 15px;
}

.footer-menu--grid {
    grid-template-columns: repeat(2,calc(100%/2));
}

.footer-copyright {
    background: #000;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    line-height: 35px;
    padding: 10px 15px;
}