body {
    padding-top: 100px;
}

/* Header Starts */
.header {
    background: var(--bg-header);
    color: var(--header-color);
    height: 100px;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    transition: top .1s ease-in-out;
}

.header.is-fixed {
    border-bottom: 1px solid #e1e1e1;
    top: 0;
}

.header__logo {
    text-decoration: none;
    color: var(--header-color) !important;
    max-width: 220px;
    height: 75px;
}

.header__logo > * {
    height: 100%;
    object-fit: contain;
    width: 100%;
}

.header__container {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    z-index: 10;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1440px;
}

.header__collapsible {
    flex-basis: auto;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end;
}

.navmenu__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navmenu__list-item {
    margin-right: 20px;
}

.navmenu__list-link {
    display: inline-flex;
    padding: 10px 5px;
    text-align: left;
    color: var(--header-color) !important;
    opacity: 1;
    font-family: var(--text-fonts);
    font-size: 15px;
    line-height: 1.75;
    align-items: center;
    position: relative;
    font-weight: 500;
    background: transparent;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.navmenu__list-link:hover {
    text-decoration: underline;
}

.header-bookstay {
    margin-left: 10px;
    min-width: 163px;
    padding: 8px 15px;
}

.header__iconbutton {
    background: transparent;
    padding: 15px 10px;
    min-height: unset;
    color: var(--header-color) !important;
    font-size: 17px;
    font-weight: normal;
}

.header__iconbutton > .template-icon:first-child, 
.header__iconbutton > .template-icon:last-child {
    margin: 0;
    display: block;
}

@media (min-width: 960px) {
    .navmenu__list {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        justify-content: center;
    }
}


@media (min-width: 768px) {
    .header__collapsible {
        display: flex !important;
    }
    .header__toggler, .navmenu__list-item--onlymob, .navmenu__list-link--btn {
        display:none!important
    }
}

@media (max-width: 1399.98px) {
    .header__container {
        padding-left: 20px;
        padding-right: 20px  
    }
    .navmenu__list-link {
        font-size: 12px;
        padding: 10px 3px
    }
    .header__logo {
        max-width: 160px;
        height: 50px;
    }
    .header-bookstay {
        min-width: 150px;
    }
    .header__iconbutton {
        font-size: 14px;
        padding: 15px 7px;
    }
}

@media (max-width: 1199.98px) {
    .navmenu__list-item {
        margin-right: 5px;
    }
    .header-bookstay {
        font-size: 10px;
        padding: 10px 15px;
        min-width: 135px;
    }
    .navmenu__list-link {
        font-size: 10px;
    }
}

@media (max-width: 1023.98px) {
    .header__logo {
        max-width: 120px;
    }
}

@media (max-width: 959.98px) {
    .header {
        height: 90px;
    }

    .navmenu__list-link {
        font-size: 9px;
    }

    .header-bookstay {
        margin-left: 10px;
        font-size: 11px;
        min-width: 145px;
        padding: 10px 15px;
    }

    .header__logo {
        max-width: 90px;
    }

    .navmenu__list-item {
        margin-right: 0px;
    }
    .header__container {
        padding: 0 20px;
    }
}

@media (max-width: 767.98px) {
    .header {
        /* height: 60px; */
    }

    .header__container {
        /* border-bottom: 1px solid #e1e1e1; */
        /* background: #fff; */
    }

    .navmenu, .header__collapsible, .header-bookstay {
        display: none;
    }

    .header-bookstay {
        align-items: center;
        border-radius: 0 30px 0 0;
        height: 60px;
        font-size: 16px;
        letter-spacing: 1.4px;
        width: 100%;
        background: var(--primary-color) !important;
        color: #fff !important;
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        font-size: 16px !important;
        letter-spacing: 0.85px;
        padding: 15px 15px;
        height: 60px;
        margin: 0;
    }

    /*.header__bookstay {
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        font-size: 16px !important;
        letter-spacing: 0.85px;
        padding: 15px 15px;
        height: 60px;
    }*/
    .header__toggler {
        height: auto;
        width: auto;
        margin: 0;
        display: inline-flex;
        align-items: center;
    }
    .header__toggler-btn {
        background: transparent;
        border: 0;
        font-size: 14px;
        line-height: 1;
        font-family: var(--text-fonts);
        color: #fff;
        padding: 0;
        margin: 0;
        display: inline-flex;
        align-items: center;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 1.4px;
        cursor: pointer;
        transition: all .4s ease;
        min-width: 75px;
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    .header-toggler__btn:hover, 
    .header-toggler__btn:focus, 
    .header-toggler__btn:focus-visible {
        color: var(--primary-color);
    }

    .header__toggler-icon {
        display: flex;
        width: auto;
        height: auto;
        font-size: 22px;
        margin: 0 0 0 7px;
        transform: rotate(180deg);
    }

    .header__toggler-icon:before {
        font-family: var(--icon-fonts);
        color: #fff;
        font-weight: normal;
        content: '\e917';
        font-size: 22px;
        line-height: 1;
    }

    .is-header-active .header__toggler-btn .header__toggler-icon:before {
        content: '\e917';
    }

    .header__toggler-text {
        
    }

    .header__toggler-text:after {
        content: 'Menu';
    }

    .is-header-active .header__toggler-btn .header__toggler-text:after {
        content: 'Close';
    }

    .header__logo {
        max-width: 130px;
        height: 70px;
    }

    .navmenu.mobile-menu-active {
        display: block !important;
    }

    .navmenu.mobile-menu-active ~ .header-bookstay {
        display: flex !important;
    }

    .navmenu {
        position: fixed;
        width: 100%;
        top: 90px;
        bottom: 0;
        left: 0;
        overflow-y: auto;
        margin: 0;
        padding: 110px 0 20px;
        background-size: cover;
        background-position: center bottom;
        background-color: var(--bg-header);
        border-top: 1px solid #fff;
    }

    .navmenu__list {
        display: block;
        position: relative;
        z-index: 10;
        border-bottom: 1px solid #fff;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }

    .navmenu__list-link {
        padding: 10px 20px;
        font-size: 18px;
    }

    .navmenu__list-link.navON, .navmenu__more-link.navON {
        color: var(--highlight-color) !important;
    }

    .header__top-left, .header__top-right {
        width: 60px;
    }

    .header__top-center {
        width: calc(100% - 60px*2);
        width: -webkit-calc(100% - 60px*2);
        max-width: calc(100% - 60px*2);
        max-width: -webkit-calc(100% - 60px*2);
    }

    body.is-bookstay-active .navmenu.mobile-menu-active ~ .header-bookstay {
        display: none !important;
    }

    .is-header-active .header-bookstay {
        display: flex;
    }
}

/* Header Ends */

.navmenu-search {
    margin-right: 30px;
}

.navmenu-search__button {
    padding: 10px 5px;
    background: transparent;
    color: var(--header-color);
    font-size: 24px;
    line-height: 1;
}

.navmenu__left {
    display: flex;
    align-items: center;
    margin-left: 170px;
    position: relative;
}

.navmenu__left-link {
    color: #fff;
    display: inline-flex;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.43px;
}

.navmenu__left-link--button {
    margin-left: 30px;
    color: var(--text-color);
}

.navmenu-search__form {
    display: flex;
    align-items: center;
}

.navmenu-search__input {
    height: 48px;
    margin-right: 15px;
    border-radius: 6px;
}

.navmenu-search__form-button {
    background: #FF8200;
}

.navmenu-search__form-button:hover {
    background: #FFC941;
    border-color: #FFC941;
}

.avatar {
    position: relative;
    width: 2.375rem;
    height: 2.375rem;
    cursor: pointer
}

.avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50% !important;
}

.avatar .avatar-initial {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #c9c8ce;
    font-weight: 500
}

.avatar.avatar-online:after,.avatar.avatar-offline:after,.avatar.avatar-away:after,.avatar.avatar-busy:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 3px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    box-shadow: 0 0 0 2px #fff
}

.avatar.avatar-online:after {
    background-color: #28c76f
}

.avatar.avatar-offline:after {
    background-color: #a8aaae
}

.avatar.avatar-away:after {
    background-color: #ff9f43
}

.avatar.avatar-busy:after {
    background-color: #ea5455
}

.dropdown-menu {
    overflow: hidden;
    position: absolute;
    box-shadow: 0 0.25rem 1rem rgba(165,163,174,.45);
    position: absolute;
    display: none;
    padding: 8px 0;
    margin: 0;
    font-size: 15px;
    color: #6f6b7d;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 6px;
    min-width: 224px;
}

.navbar-nav {
    list-style: none;
    padding: 0;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 6.72px 15px;
    clear: both;
    font-weight: 400;
    color: #5d596c;
    text-align: inherit;
    white-space: nowrap;
    background-color: rgba(0,0,0,0);
    border: 0;
    line-height: 1.375;
    width: calc(100% - 1rem);
    margin: 0.25rem 0.5rem;
    border-radius: 0.375rem;
}

.dropdown-item:hover,.dropdown-item:focus {
    color: #000;
    background-color: rgba(115, 103, 240, 0.08)
}

.dropdown-item .wf-icon {
    margin-right: 10px;
}

@media (max-width: 1399.98px) {

}

@media (max-width: 1199.98px) {
    .navmenu__left-link {
        font-size: 12px;
    }

    .navmenu__left-link--button {
        margin-left: 20px;
    }

    .navmenu-search {
        margin-right: 20px;
    }

    .navmenu-search__button {
        font-size: 18px;
    }
}

@media (max-width: 1023.98px) {

}

@media (max-width: 959.98px) {
    .navmenu__left {
        margin-left: 35px;
    }
}

@media (max-width: 767.98px) {
    .navmenu__left {
        justify-content: center;
        padding-top: 15px;
    }
    
    .navmenu-search__dropdown {
        display: block !important;
        background: transparent;
        padding: 0;
        position: fixed;
        top: 95px !important;
        left: 0 !important;
        right: 0 !important;
        border-bottom: 1px solid #fff;
        padding: 20px;
        background: var(--bg-header);
        width: 100% !important;
        max-width: 100% !important;
    }
    
    .navmenu-search__button {
        display: none;
    }
    .navmenu__left-link {
        font-size: 18px;
    }
    
    .navmenu__left-link--button {
        margin-left: 40px;
    }
}
@media (max-width: 639.98px) {

}

@media (max-width: 575px) {

}