@font-face {
  font-family: 'wf-icon';
  src:  url('fonts/wf-icon.eot?6e848y');
  src:  url('fonts/wf-icon.eot?6e848y#iefix') format('embedded-opentype'),
    url('fonts/wf-icon.ttf?6e848y') format('truetype'),
    url('fonts/wf-icon.woff?6e848y') format('woff'),
    url('fonts/wf-icon.svg?6e848y#wf-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="wf-icon-"], [class*=" wf-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'wf-icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wf-icon-search:before {
  content: "\e900";
}
.wf-icon-email:before {
  content: "\e901";
}
.wf-icon-mail-opened:before {
  content: "\e902";
}
.wf-icon-phone-call:before {
  content: "\e903";
}
.wf-icon-analytics:before {
  content: "\e904";
}
.wf-icon-call:before {
  content: "\e905";
}
.wf-icon-facebook:before {
  content: "\e906";
}
.wf-icon-instagram:before {
  content: "\e907";
}
.wf-icon-linkedin:before {
  content: "\e908";
}
.wf-icon-liquid-drop .path1:before {
  content: "\e909";
  color: rgb(252, 182, 77);
}
.wf-icon-liquid-drop .path2:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(254, 204, 129);
}
.wf-icon-liquid-drop .path3:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(250, 166, 41);
}
.wf-icon-liquid-drop .path4:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(254, 204, 129);
}
.wf-icon-liquid-drop .path5:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(255, 224, 178);
}
.wf-icon-search-with-bg:before {
  content: "\e90e";
}
.wf-icon-shopping-bag:before {
  content: "\e90f";
}
.wf-icon-star:before {
  content: "\e910";
}
.wf-icon-tick:before {
  content: "\e911";
}
.wf-icon-youtube:before {
  content: "\e912";
}
.wf-icon-arrow-left:before {
  content: "\e913";
}
.wf-icon-arrow-right:before {
  content: "\e914";
}
.wf-icon-file-text:before {
  content: "\e915";
}
.wf-icon-user:before {
  content: "\e916";
}
.wf-icon-align-left:before {
  content: "\e917";
}
.wf-icon-location:before {
  content: "\e918";
}
.wf-icon-check:before {
  content: "\e919";
}
.wf-icon-crown:before {
  content: "\e91a";
}
.wf-icon-file-text1:before {
  content: "\e91b";
}
.wf-icon-mail:before {
  content: "\e91c";
}
.wf-icon-phone-call1:before {
  content: "\e91d";
}
.wf-icon-User-Info:before {
  content: "\e91e";
}
.wf-icon-calendar:before {
  content: "\e91f";
}
.wf-icon-bag:before {
  content: "\e920";
}
.wf-icon-search1:before {
  content: "\e921";
}
.wf-icon-signout:before {
  content: "\e922";
}
.wf-icon-money:before {
  content: "\e923";
}
.wf-icon-mail-opened1:before {
  content: "\e924";
}
.wf-icon-mail1:before {
  content: "\e925";
}
.wf-icon-archive:before {
  content: "\e926";
}
.wf-icon-transaction-order:before {
  content: "\e927";
}
.wf-icon-star1:before {
  content: "\e928";
}
.wf-icon-layout-navbar:before {
  content: "\e929";
}
.wf-icon-corporate:before {
  content: "\e92a";
}
.wf-icon-trash:before {
  content: "\e92b";
}
.wf-icon-rotate-clockwise:before {
  content: "\e92c";
}
.wf-icon-headquarters:before {
  content: "\e92d";
}
.wf-icon-phone-contact:before {
  content: "\e92e";
}
