@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&family=Montserrat:wght@300;400;500;600;700&family=Roboto:wght@400;700&display=swap');

@import url('./wf-icon/style.css');

:root {
    --bs-body-font-family: 'Montserrat';
    --bs-black-rgb: 0, 0, 0;
}

.btn-dark {
    color: #fff;
    background-color: #000;
    border-color: #000;
    font-weight: 400;
}

.select2-results__option[role=option][aria-selected=true] {
    background-color: #000;
    color: #fff;
}

.select2-container--default .select2-results__option--highlighted:not([aria-selected=true]) {
    background-color: rgba(115, 103, 240, 0.08) !important;
    color: #000 !important;
}

.form-check-input:checked, .form-check-input[type=checkbox]:indeterminate {
    background-color: #000;
    border-color: #000;
}


.list-disc {
    list-style: none;
}

.list-disc > li {
    position: relative;
    padding-left: 25px;
}

.list-disc > li + li {
    margin-top: 10px;
}

.list-disc > li:after {
    content: '';
    width: 14px;
    height: 14px;
    border: 2px solid rgb(75 70 92 / 50%);
    display: block;
    border-radius: 50%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}

.badge--primary {
    background: #DBE0FF !important;
    color: #334FFB !important;
    font-size: 13px;
    font-weight: 500;
}

.bg-label-primary {
    background: #DBE0FF !important;
    color: #334FFB !important;
}

.avatar--prodotti {
    width: 35px;
    height: 35px;
}

.timeline .timeline-point-primary {
    background-color: #7367F0 !important;
    box-shadow: 0 0 0 0.1875rem rgba(0, 0, 0, 0.16);
}

.light-style:not([dir=rtl]) .jq-ry-container:not(.multi-color-ratings) .jq-ry-rated-group svg {
    fill: #000;
}

.app-email .app-email-view {
    width: 100%;
}

.app-email .app-emails-list .email-list li .email-list-item-time {
    width: 150px;
}

/* Navigation + Sidebar Starts */

/* Navigation + Sidebar Ends */

.dropdown-menu {
    --bs-dropdown-link-hover-color: #000;
    --bs-dropdown-link-active-bg: #000;
    --bs-dropdown-link-hover-color: #000;
}

.dropdown-item:not(.disabled).active, .dropdown-item:not(.disabled):active {
    background-color: #000;
    color: #fff !important;
}


.avatar, .avatar > img {
    width: 45px;
    height: 45px;
    object-fit: cover;
}

.layout-menu-fixed body {
    padding-top: 100px;
}

.bg-menu-theme.menu-vertical .menu-item.active > .menu-link:not(.menu-toggle) {
    background: #000;
    box-shadow: unset;
    color: #fff !important;
}


.layout-navbar.navbar-detached.container-xxl {
    margin: 0;
    border-radius: 0;
    border: 0;
    background: #000 !important;
    min-height: 100px;
    z-index: 1090 !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100% !important;
    max-width: 100%;
}

.main-logo {
    display: flex;
    flex-grow: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.main-logo img {
    width: 125px;
}

.bg-navbar-theme .navbar-nav > .nav-link, 
.bg-navbar-theme .navbar-nav > .nav-item > .nav-link, 
.bg-navbar-theme .navbar-nav > .nav > .nav-item > .nav-link {
    color: #fff;
}

.bg-navbar-theme .navbar-nav > .nav-link:hover, 
.bg-navbar-theme .navbar-nav > .nav-link:focus, 
.bg-navbar-theme .navbar-nav > .nav-item > .nav-link:hover, 
.bg-navbar-theme .navbar-nav > .nav-item > .nav-link:focus, 
.bg-navbar-theme .navbar-nav > .nav > .nav-item > .nav-link:hover, 
.bg-navbar-theme .navbar-nav > .nav > .nav-item > .nav-link:focus {
    color: #fff;
    opacity: .8;
}

.layout-menu-toggle .nav-link {
    font-size: 28px;
}

.layout-menu-fixed .layout-menu {
    padding-top: 10px;
    position: sticky;
    top: 100px;
    box-shadow: unset;
    height: calc(100vh - 100px);
    padding-bottom: 20px;
}

.layout-container {
    align-items: flex-start;
    border-bottom: 1px solid #DBDADE;
}

.layout-content-navbar .layout-page {
    border-left: 1px solid #DBDADE;
    padding-left: 0 !important;
    min-height: 100vh;
}

/* Auth pages Header Starts */

.auth-header {
    height: 100px;
    background: #000;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-header__logo {
    display: block;
}

/* Auth pages Header Ends */



/* Signup page Starts */

.singup__card {
    padding: 60px;
}

.singup__form {
    padding: 0 60px;
}

.singup__wrapper .singup__inner {
    max-width: 550px;
    margin: auto;
}

.singup__wrapper .singup__cardbody {
    padding: 0;
}

.singup__footer {
    margin-top: 10px;
    color: #4B465C;
}

.singup__footer a {
    color: #000;
    font-weight: 500;
}

.singup__footer a:hover {
    text-decoration: underline;
}

.singup__title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.singup__title > img {
    width: 25px;
    height: auto;
    margin-left: 5px;
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
    margin-top: -8px;
}

/* Signup page Ends */

/* Signup Wizard page Starts */

.signup-wiz__inner {
    max-width: 1061px;
    margin: auto;
    padding-top: 70px;
    padding-bottom: 70px;
}

.signup-wiz__stepper {
    padding-top: 50px;
}

.signup-wiz__stepper .signup-wiz__trigger {
    font-size: 16px;
    color: #4B465C;
}

.signup-wiz__stepper .signup-wiz__trigger:disabled, 
.signup-wiz__stepper .signup-wiz__trigger.disabled {
    opacity: 1;
}

.signup-wiz__stepper .signup-wiz__header {
    justify-content: center;
    padding: 30px 80px;
}

.signup-wiz__step {
    display: flex;
    flex-grow: 1;
}

.signup-wiz__stepper .signup-wiz__header .signup-wiz__step .signup-wiz__trigger {
    padding-left: 30px;
}

.signup-wiz__form {
    max-width: 673px;
    margin: auto;
}

.signup-wiz__stepper .signup-wiz__step.active .bs-stepper-circle {
    background: #000;
}

.light-style .signup-wiz__stepper .signup-wiz__header .bs-stepper-title, 
.light-style .signup-wiz__stepper .signup-wiz__header .bs-stepper-label {
    color: #4B465C !important;
}

.signup-wiz__name {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 25px;
}

.signup-wiz__footer {
    margin-top: 10px;
    color: #4B465C;
    text-align: center;
}

.signup-wiz__footer a {
    color: #000;
    font-weight: 500;
}

.signup-wiz__footer a:hover {
    text-decoration: underline;
}

/* Signup Wizard page Ends */
/* Profile Page CSS Starts */
.about-iconlist {

}

.about-iconlist__item {
    position: relative;
    padding-left: 30px;
}

.about-iconlist__icon {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #000;
    font-size: 18px;
    line-height: 1;
}

.about-iconlist__item + .about-iconlist__item {
    margin-top: 12px;
}

.about-iconlist__name {
    color: #000;
    font-size: 15px;
    margin-right: 5px;
    font-weight: 500;
}

/* Profile Page CSS Ends */
