@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&family=Montserrat:wght@300;400;500;600;700&family=Roboto:wght@400;700&display=swap');

@import url('./wf-icon/style.css');

:root {
    --bs-body-font-family: 'Montserrat';
    --bs-black-rgb: 0, 0, 0;
}

.btn-dark {
    color: #fff;
    background-color: #000;
    border-color: #000;
}

/* Auth pages Header Starts */

.auth-header {
    height: 100px;
    background: #000;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-header__logo {
    display: block;
}

/* Auth pages Header Ends */



/* Signup page Starts */

.singup__card {
    padding: 60px;
}

.singup__form {
    padding: 0 60px;
}

.singup__wrapper .singup__inner {
    max-width: 550px;
    margin: auto;
}

.singup__wrapper .singup__cardbody {
    padding: 0;
}

.singup__footer {
    margin-top: 10px;
    color: #4B465C;
}

.singup__footer a {
    color: #000;
    font-weight: 500;
}

.singup__footer a:hover {
    text-decoration: underline;
}

/* Signup page Ends */

/* Signup Wizard page Starts */

.signup-wiz__inner {
    max-width: 1061px;
    margin: auto;
    padding-top: 70px;
    padding-bottom: 70px;
}

.signup-wiz__stepper {
    padding-top: 50px;
}

.signup-wiz__stepper .signup-wiz__trigger {
    font-size: 16px;
    color: #4B465C;
}

.signup-wiz__stepper .signup-wiz__trigger:disabled, 
.signup-wiz__stepper .signup-wiz__trigger.disabled {
    opacity: 1;
}

.signup-wiz__stepper .signup-wiz__header {
    justify-content: center;
    padding: 30px 80px;
}

.signup-wiz__step {
    display: flex;
    flex-grow: 1;
}

.signup-wiz__stepper .signup-wiz__header .signup-wiz__step .signup-wiz__trigger {
    padding-left: 30px;
}

.signup-wiz__form {
    max-width: 673px;
    margin: auto;
}

.signup-wiz__stepper .signup-wiz__step.active .bs-stepper-circle {
    background: #000;
}

.light-style .signup-wiz__stepper .signup-wiz__header .bs-stepper-title, 
.light-style .signup-wiz__stepper .signup-wiz__header .bs-stepper-label {
    color: #4B465C;
}

.signup-wiz__name {
    font-weight: 500;
    font-size: 20px;
}

.signup-wiz__footer {
    margin-top: 10px;
    color: #4B465C;
    text-align: center;
}

.signup-wiz__footer a {
    color: #000;
    font-weight: 500;
}

.signup-wiz__footer a:hover {
    text-decoration: underline;
}

/* Signup Wizard page Ends */